@model ContatoModel

@{
    ViewData["Title"] = "Editar contato";
}


<div class="text-center">
    <h1 class="display-4">Cadastrar contato</h1>
</div>

<form asp-controller="Contato" asp-action="Alterar" method="post">
    <input hidden asp-for="Id" />
    <div class="mb-3">
        <label for="nome">Nome</label>
        <input type="text" asp-for="nome" class="form-control" aria-describedby="emailHelp" placeholder="nome" required>
    </div>

    <div class="mb-3">
        <label for="Email">Email</label>
        <input type="email" asp-for="email" class="form-control" placeholder="fulano@gmail.com" required>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Numero</label>
        <input type="number" asp-for="celular" class="form-control" placeholder="(11)111111111)" required>
    </div>

    <button style="width:100%" type="submit" class="btn btn-primary btn-block" onclick="ok()">Editar</button>
    <a style="width:100% ; margin-top:4px" class="btn btn-secondary" role="button" asp-controller="Contato" asp-action="Index">Voltar</a>

</form>
